.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.upload-container {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  height: 100vh;
  /* text-align: center; */
  font-family: Arial, sans-serif;

  padding: 10vh 5vh;
}

.subtitle {
  font-size: 1rem;
  color: #333;
  font-weight: bold;
  margin-bottom: 10px;
}


.upload-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.previewSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  width: 100%;
}

.file-input {
  display: none;
}
.previewSection label {
  width: 100%;
}

.upload-box {
  width: 100%;
  height: 250px;
  border-radius: 12px;
  border: 2px dashed #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f8f8f8;
  cursor: pointer;
  /* margin-top: 5vh; */
}

.preview-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.plus-icon {
  font-size: 2rem;
  color: #aaa;
}


.process-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  font-family: Arial, sans-serif;
}



.section {
  margin: 20px 0;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 40px;
}
.process_title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.room-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
  margin-bottom: 20px;
}

.board-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.board {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 48%;
  cursor: pointer;
}

.board-name {
  margin-top: 5px;
  font-size: 1rem;
  text-align: left;
}

.board-image {
  width: 100%;
  height: 180px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
}

.image-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
  justify-content: center;
}

.grid-image {
  width: 100px;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
}
.room-image {
  width: 100%;
  display: block;
}

.board:nth-child(odd) {
  /* margin-bottom: 40px; */
  margin-bottom: 30px;
}
.board:nth-child(even) {
  /* margin-top: 70px; */
  /* margin: 30px 0; */
  /* transform: translateY(50px); */
  position: relative;
  top: 100px;
}

.imageGridSection {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  max-height: 80%;
  background-color: #fff;
  padding-bottom: 40px;

  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-top: 1px solid #ccc;

  transform: translateY(100%);
  transition: transform 0.1s ease-in-out;

  overflow-y: auto;
}

.imageGridSection.visible {
  transform: translateY(0);
}

.imageGridSection-toggle {
  width: 100%;
  text-align: center;
  cursor: pointer;
}

.changesExplanation {
  font-size: 0.9rem;
  color: #686D76;
}

.board-name {
  line-height: 1;
}
.board-count {
  font-size: 0.9rem;
  color: #686D76;
}

.toggle-container {
  width: 60px;
  height: 30px;
  border-radius: 15px;
  background-color: #ccc;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  transition: background-color 0.3s ease;
}

.toggle-container.on {
  background-color: #000; /* iOS green color when on */
}

.toggle-container.off {
  background-color: #ccc; /* gray color when off */
}

.toggle-switch {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  transition: left 0.3s ease;
}

.toggle-container.on .toggle-switch {
  left: calc(100% - 26px); /* Adjust for padding */
}

.toggle-container.off .toggle-switch {
  left: 2px;
}

.toggle-label {
  position: absolute;
  top: 35px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
  color: #333;
  font-weight: 500;
}

.header-button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

@keyframes pulse {
  0% {
    transform: scale(1); /* Start at full size */
  }
  50% {
    transform: scale(1.05); /* Slightly enlarge */
  }
  100% {
    transform: scale(1); /* Return to full size */
  }
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Full-screen overlay with slight opacity */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  pointer-events: none;
  transition: opacity 0.5s ease;
  opacity: 0; /* Start hidden */
}

.loading.visible {
  opacity: 1; /* Fade in when visible */
  pointer-events: auto;
  animation: pulse 1.5s ease-in-out infinite; /* Loop the pulse effect */
}



.loading img {
  border-radius: 50%;
  width: 90%;
}
.loadingDescription {
  color: #fff;
  font-size: 2rem;
  margin-bottom: 3rem;
  /* animation: flicker 5s infinite; */
}
@keyframes flicker {
  0%, 18%, 25%, 53%, 57%, 89%, 100% {
      opacity: 1;
  }
  20%, 24%, 55%, 75%, 95% {
      opacity: 0;
  }
}
.sparklingAnimation {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.imageGridSection-toggle {
  font-weight: bold;
}

.logo-image {
  position: fixed;
  bottom: -80px;
  left: 50%;
  transform: translateX(-50%);
}